h1 {
 color: white;
}

h4 {
 background-color: red;color: white;
}

h5 {
 background-color: yellow;color: black;
}

button {
 background-color: purple;
}

h3 {
 color: white;
}

button {
 background-color: orange;
}

h2 {
 color: white;
}

h3 {
 color: white;
}

h4 {
 color: white;
}
